
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_LayoutInicio.cshtml";
}

@*<h2>Inicio</h2>*@


<div class="container col-md-11">


    <div class="row" id="row">
        <div class="col-md-12 p-2">

            <div id="banner" class="">
                <div id="bannerProducto" class="">
                    <img src="~/img_sistema/banner-smart.jpg" alt="">
                </div>
                <div id="botonesBanner">
                    <p>Te damos la bienvenida a Tienda Online</p>
                    <button id="registrate" class="btn btn-outline-primary" type="submit">Registrate</button>
                    <button id="login" class="btn btn-outline-success" type="submit">Login</button>
                </div>
            </div>


            <div class="card my-2 h-auto">
                <div id="resultadoProducto" class="card-body">



                </div>
            </div>


        </div>
    </div>
</div>

<script src="~/Scripts/VentaProducto/Inicio.js"></script>
